<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here are a few things we think might be of use to you!</h1>

    <p>
     <%= "Here we'll display content and action buttons! For example:" %>
     <%  @mailer_contents.each do |y| %>
       <%= y.actual_context %>
       <br>
       <br>
     <% end %>
     <br>
    </p>

    <p>And place for more feedback here!</p>
  </body>
</html>