<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smolder</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/assets/other_images/smolder_favicon.png">
    <!-- owl carousel css -->
<!--     <link href="assets/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="assets/js/owl-carousel/owl.transitions.css" rel="stylesheet"> -->
    <!-- intro animations -->
<!--     <link href="assets/js/wow/animate.css" rel="stylesheet">
 -->    <!-- font awesome -->
<!--     <link href="assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- lightbox -->
    <!-- <link href="assets/js/lightbox/css/lightbox.css" rel="stylesheet"> -->

    <!-- styles for this template -->
<!--     <link href="assets/css/styles.css" rel="stylesheet">
 -->
    <!-- place your extra custom styles in this file -->
<!--     <link href="assets/css/custom.css" rel="stylesheet">
 -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="background-image-overlay"></div>

    <div id="outer-background-container" data-default-background-img="/assets/other_images/bg5.jpg" style="background-image:url(/assets/other_images/bg5.jpg);"></div>
    <!-- end: #outer-background-container -->    

    <!-- Outer Container -->
    <div id="outer-container">

      <!-- Left Sidebar -->
      <section id="left-sidebar">
        
        <div class="logo">
          <a href="#intro" class="link-scroll"><img src="/assets/other_images/smolder_logo.png" alt="Smolder"></a>
        </div><!-- .logo -->

        <!-- Smolder Menu -->
        <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

        <ul id="main-menu">

          <li id="menu-item-Suggestions" class="menu-item scroll"><a href="#Suggestions">Suggestions</a></li>
          <li id="menu-item-carousel" class="menu-item scroll"><a href="#carousel">History</a></li>
          <li id="menu-item-Profile" class="menu-item scroll"><a href="#Profile">Profile</a></li>
          <li id="menu-item-Calendar" class="menu-item scroll"><a href="#Calendar">Calendar</a></li>
          <li id="menu-item-Feedback" class="menu-item scroll"><a href="#Feedback">Feedback</a></li>
        </ul>

      </section><!-- #left-sidebar -->
      <!-- end: Left Sidebar -->

      <section id="main-content" class="clearfix">

<!-- Smolder Suggestions -->

        <article id="Suggestions" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg1.jpg">
          <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay="0.3s">
            <div class="col-sm-10 col-md-9 pull-right">
              <section class="feature-text">
                <h1 class="section-title">Pick 1!</h1>
                <p>We're happy to choose specifics for you, but if you want a little more control, just click it, and you'll be able to customize your choices from there! (make this a "How it works" dropdown(class of hidden))</p>
              </section>
              
                <!-- feature columns -->
                <section class="feature-columns row clearfix">

                  <!-- feature 1 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-6');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="/assets/other_images/project-3.jpg" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>Schedule a hike!</h5>
                        <p>make the image larger</p>
                        <p>add "Save for later button", "dislike", and a " "more like this" button with hover pop ups to explain what they do.</p>
                      </div><!-- .caption -->
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-6">
                      <h1>Nantahala National Forest</h1>
                      <p>Nantahala has so much to explore!<br/></p>

                      <!-- image slider inside popup -->
                      <div id="unique-id-for-image-slider" class="owl-carousel popup-image-gallery">
                        <!-- slide -->
                        <div>
                          <!-- caption is optional. To remove it, remove the <h6> below -->
                          <h6 class="caption">View the scenery</h6>
                          <img class="lazyOwl" data-src="/assets/other_images/bg1.jpg">
                        </div>
                        <!-- slide -->
                        <div>
                          <h6 class="caption">Paddle the lakes and rivers</h6>
                          <img class="lazyOwl" data-src="/assets/other_images/bg2.jpg">
                        </div>
                        <!-- slide -->
                        <div>
                          <h6 class="caption">Get your boots muddy</h6>
                          <img class="lazyOwl" data-src="/assets/other_images/bg3.jpg">
                        </div>
                      </div>
                    </div><!-- #modal-content-6 -->
                  </article>

                  <!-- feature 2 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-7');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="/assets/other_images/project-2.jpg" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>Send a letter</h5>
                      </div><!-- .caption -->
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-7">
                      <img data-img-src="/assets/other_images/top-image2.jpg" class="lazy full-width" alt="Lorem Ipsum">
                      <h1>Send a letter</h1>
                      <p>Use the font you saved to your profile to send words of affirmation in your own handwriting</p>
                      <p>Send an email</p>
                      <p>Send a poem</p>
                    </div><!-- #modal-content-7 -->
                  </article>

                  <!-- feature 3 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-8', '', 'full-size');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="/assets/other_images/project-4.jpg" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>More options</h5>
                        <p>A few more to choose from</p>
                      </div><!-- .caption -->
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-8">
                      <h1>Variety is the spice of life</h1>
                      <p>We're far from perfect. If you can't find something that looks like a good idea to you, PLEASE tell us. Our number one priority is meeting your needs, and the best way for us to make sure we're doing that is to communicate about it.(hint hint)</p>

                      <!-- alt image slider inside popup -->
                      <div id="unique-id-for-alt-image-slider" class="owl-carousel popup-alt-image-gallery">
                        <div class="item"><a href="/assets/other_images/bg1.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-1.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg2.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-2.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg3.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-3.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg4.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-4.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg5.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-5.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg6.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-6.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg2.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-2.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg3.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-3.jpg"></a></div>
                        include captions and make the pics link to moduls with more info. ALSO NEED a 1CLICK = Done button
                      </div>
                    </div><!-- #modal-content-8 -->
                  </article>

                </section><!-- end: .feature-columns -->

              <!-- End: Section content to edit -->

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <!-- Smolder History Carousel -->

        <article id="carousel" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg6.jpg">
          <div class="content-wrapper clearfix">

              <div id="features-carousel" class="carousel slide with-title-indicators max-height" data-height-percent="70" data-ride="carousel">
                
                <!-- Indicators - slide navigation -->
                <ol class="carousel-indicators title-indicators">
                  <li data-target="#features-carousel" data-slide-to="0" class="active">Went hiking at Riverwood Park</li>
                  <li data-target="#features-carousel" data-slide-to="1">Bought her chapstick</li>
                  <li data-target="#features-carousel" data-slide-to="2">Sent Poetry</li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                  <div class="item active">
                    <div class="carousel-text-content">
                      <img src="/assets/other_images/olive-mountain.png" class="icon" alt="Lorem Ipsum">
                      <h2 class="title">Hiking at Riverwood Park</h2>
                      <p>event.Date_Clicked:
                        <br>
                        event.Date_Completed:
                        <br>
                        event.other_relevant_data</p>
                        <br>
                        <a href="#">Full History</a>
                      <p>

                      <a href="" onclick="populate_and_open_modal(event, 'modal-content-2');" class="btn btn-outline-inverse btn-sm">More Details</a></p>

                      <div class="content-to-populate-in-modal" id="modal-content-2">
                        <h1>Hiking at Riverwood Park</h1>
                        <p><img data-img-src="/assets/other_images/olive-mountain.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum">     
                        <p>event.Date_Clicked:
                          <br>
                          event.Date_Completed:
                          <br>
                          event.other_relevant_data
                          <br>
                          <a href="#">Full History</a>
                        </p>
                      </div><!-- #modal-content-2 -->
                    </div>
                  </div><!-- .item -->

                  <div class="item">
                    <div class="carousel-text-content">
                      <img src="/assets/other_images/chapstick.png" class="icon" alt="A picture of the chapstick you bought">
                      <h2 class="title">Bought her chapstick</h2>
                      <p>event.Date_Clicked:
                        <br>
                        event.Date_Completed:
                        <br>
                        event.other_relevant_data</p>
                        <br>
                        <a href="#">Full History</a>
                      <p>
                        <a href="" onclick="populate_and_open_modal(event, 'modal-content-3');" class="btn btn-outline-inverse btn-sm">read more</a></p>

                      <div class="content-to-populate-in-modal" id="modal-content-3">
                        <h1>Bought her chapstick</h1>
                        <p><img data-img-src="/assets/other_images/chapstick.png" class="lazy rounded_border hover_effect pull-left" alt="A picture of the chapstick you bought">
                        <p>event.Date_Clicked:
                          <br>
                          event.Date_Completed:
                          <br>
                          event.other_relevant_data</p>
                          <br>
                          <a href="#">Full History</a>
                        <p>
                      </div><!-- #modal-content-3 -->
                    </div>
                  </div><!-- .item -->

                  <div class="item">
                    <div class="carousel-text-content">
                      <img src="/assets/other_images/Poetry.png" class="icon" alt="Peotry">
                      <h2 class="title">Sent Poetry</h2>
                      <p>event.Date_Clicked:
                        <br>
                        event.Date_Completed:
                        <br>
                        event.other_relevant_data</p>
                        <br>
                        <a href="#">Full History</a>
                      <p>
                      <a href="" onclick="populate_and_open_modal(event, 'modal-content-4');" class="btn btn-outline-inverse btn-sm">read more</a></p>

                      <div class="content-to-populate-in-modal" id="modal-content-4">
                        <h1>Sent Poetry</h1>
                        <p><img data-img-src="/assets/other_images/Poetry.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum">       
                        <p>event.Date_Clicked:
                          <br>
                          event.Date_Completed:
                          <br>
                          event.other_relevant_data</p>
                          <br>
                          <a href="#">Full History</a>
                        <p>
                      </div><!-- #modal-content-4 -->
                    </div>
                  </div><!-- .item -->
                </div><!-- .carousel-inner -->

                <!-- Controls -->
                <a class="left carousel-control" href="#features-carousel" data-slide="prev"></a>
                <a class="right carousel-control" href="#features-carousel" data-slide="next"></a>

              </div><!-- #about-carousel -->

          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

<!-- Profile Form -->
<article id="Profile" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg5.jpg">
          <div class="content-wrapper clearfix">
            
              <h1 class="section-title">Help us help you!</h1>
              <p>The more information you provide us here, the more powerful our tools become, and the more impact your actions will have in your daily life.</p> 
                    <!-- Profile FORM -->
         
                  <form class="form-style validate-form clearfix" action="assets/php/mail.php" method="POST" role="form">

                    <!-- form left col -->
                    <div class="col-lg-10">
                      <div class="form-group">
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name">
                    
                      <!--Jen's id = A2GUXYNJMMIVQZ -->

                      <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-amazon_id" placeholder="Enter her amazon wishlist id here." name="amazon_id">
                        
<!-- Can I set form placeholders to equal stored datal such object.full_name ? -->
<!-- How do I add clearfix to the date fields? -->

                     
                        <input type="email" class="text-field form-control validate-field required" data-validation-type="email" id="form-email" placeholder="Email Address" name="email">
                      
                      <P><center><strong>Important Dates</strong></center></P>
                      <P><center>Anniversary</center></P>
                     
                        <input type="date" class="date-field form-control validate-field date" data-validation-type="date" id="form-anniversary" placeholder="dd/mm/yy" name="anniversary">
                             
                      <P><center>Your Spouse's birthday</center></P>
                     
                        <input type="date" class="date-field form-control validate-field date" data-validation-type="date" id="form-spouse_birthday" placeholder="dd/mm/yy" name="spouse_birthday">
                         
                      <P><center>First date</center></P>
                     
                        <input type="date" class="date-field form-control validate-field date" data-validation-type="date" id="form-first_date" placeholder="dd/mm/yy" name="first_date">
                        
                     
                        <P><center>Add another important date</center></P>
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-memory_1_name" placeholder="Give the memory a name here. For example: 'Picnic at the Park'" name="memory_1_name">
                        <input type="date" class="date-field form-control validate-field date" data-validation-type="date" id="form-memory_1_date" placeholder="dd/mm/yy" name="memory_1_date">
                        <textarea placeholder="Fill in some text you would like her to see when she is reminded of this memory here." class="form-control validate-field required" name="memory_1_notes"></textarea>
                       
                     
                        <img src="/assets/theme_images/loader-form.GIF" class="form-loader">
                        <button type="submit" class="btn btn-sm btn-outline-inverse">Submit</button>
                      </div> 
                      <div class="form-group form-general-error-container"></div>           
                    </div><!-- end: form right col -->

                  </form>
                <!-- end: CONTACT FORM -->

          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

<!-- Calendar -->

        <article id="Calendar" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg2.jpg">
          <div class="content-wrapper clearfix">
                <h1 class="section-title">Calendar</h1>

                <section class="calendar row clearfix clearfix-for-1cols">

                  <div class="calendar-item col-md-6">
                    <div class="item-content clearfix">
                    
                      <div id='calendar'>
                      </div>

                    </div><!-- end: .item-content -->
                  </div><!-- end: .calendar-item -->

                </section><!-- end: calendar -->
          </div> <!-- .content-wrapper -->
        </article> <!-- .section-wrapper -->

<!-- Feedback Form -->
        <article id="Feedback" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg4.jpg">
          <div class="content-wrapper clearfix">
            
              <h1 class="section-title">Tell us what you think</h1>
              
                <!-- CONTACT DETAILS -->
                <div class="contact-details col-sm-5 col-md-3">
                  <p>510<br/>Mill Street<br/>Mount Pleasant<br/>29270</p>
                  <p>Tel: (+20) 21 301 524</p>
                  <p><a href="mailto:info@loremipsum.com">info@smolder.com</a></p>
                </div>
                <!-- END: CONTACT DETAILS -->

                <!-- CONTACT FORM -->
                <div class="col-sm-7 col-md-9">
                  <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->
                  <form class="form-style validate-form clearfix" action="assets/php/mail.php" method="POST" role="form">

                    <!-- form left col -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name">
                      </div>  
                      <div class="form-group">
                        <input type="email" class="text-field form-control validate-field required" data-validation-type="email" id="form-email" placeholder= "Email" name="email">
                      </div>
                      <div class="form-group">
                        <input type="tel" class="text-field form-control validate-field phone" data-validation-type="phone" id="form-contact-number" placeholder="Contact Number" name="contact_number">
                      </div>                                     
                    </div><!-- end: form left col -->

                    <!-- form right col -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <textarea placeholder="Message..." class="form-control validate-field required" name="message"></textarea>
                      </div> 
                      <div class="form-group">
                        <img src="/assets/theme_images/loader-form.GIF" class="form-loader">
                        <button type="submit" class="btn btn-sm btn-outline-inverse">Submit</button>
                      </div> 
                      <div class="form-group form-general-error-container"></div>           
                    </div><!-- end: form right col -->

                  </form>
                </div><!-- end: CONTACT FORM -->

          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <article id="Suggestions" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg1.jpg">
          <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay="0.3s">
            <div class="col-sm-10 col-md-9 pull-right">
              <section class="feature-text">
                <h1 class="section-title">Pick 1!</h1>
                <p>We're happy to choose specifics for you, but if you want a little more control, just click it, and you'll be able to customize your choices from there! (make this a "How it works" dropdown(class of hidden))</p>
              </section>

      </section><!-- #main-content -->

      <!-- Footer -->
      <section id="footer">

        <!-- Go to Top -->
        <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

        <ul class="social-icons">
          <li><a href="#" target="_blank" title="Facebook"><img src="/assets/theme_images/social_icons/facebook.png" alt="Facebook"></a></li>
          <li><a href="#" target="_blank" title="Twitter"><img src="/assets/theme_images/social_icons/twitter.png" alt="Twitter"></a></li>
          <li><a href="#" target="_blank" title="Google+"><img src="/assets/theme_images/social_icons/googleplus.png" alt="Google+"></a></li>
        </ul>

        <!-- copyright text -->
        <div class="footer-text-line">&copy; Smolder | 2014</div>
      </section>
      <!-- end: Footer -->      

    </div><!-- #outer-container -->
    <!-- end: Outer Container -->

    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
    <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body">
          </div><!-- .modal-body -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- .modal -->    

    <!-- Javascripts
    ================================================== -->

    <!-- Jquery and Bootstrap JS -->
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.1.min.js"><\/script>')</script> -->
    <!-- // <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->

    <!-- Easing - for transitions and effects -->
<!--     // <script src="assets/js/jquery.easing.1.3.js"></script> -->

    <!-- background image strech script -->
  <!--   // <script src="assets/js/jquery.backstretch.min.js"></script> -->
    <!-- background image fix for IE 9 or less
       - use same background as set above to <body> -->
    <!--[if lt IE 9]>
    <script type="text/javascript">
    $(document).ready(function(){
      jQuery("#outer-background-container").backstretch("/assets/other_images/bg5.jpg");
    });
    </script> 
    <![endif]-->  

    <!-- detect mobile browsers -->
    <!-- <script src="assets/js/detectmobilebrowser.js"></script> -->

    <!-- owl carousel js -->
    <!-- <script src="assets/js/owl-carousel/owl.carousel.min.js"></script> -->

    <!-- lightbox js -->
    <!-- <script src="assets/js/lightbox/js/lightbox.min.js"></script> -->

    <!-- intro animations -->
    <!-- <script src="assets/js/wow/wow.min.js"></script> -->

    <!-- Custom functions for this theme -->
    <!-- <script src="assets/js/functions.js"></script> -->
    <!-- <script src="assets/js/initialise-functions.js"></script> -->

    <!-- IE9 form fields placeholder fix -->
    <!--[if lt IE 9]>
    <script>contact_form_IE9_placeholder_fix();</script>
    <![endif]-->  

  </body>
</html>